<form method="post">
  <div>
    InputFields
  </div>
  <div>
    {{#ifTwo note note._id}}
      <button type="submit" name="_id" value="{{note._id}}">Save</button>
    {{else}}
      <button type="submit" name="_id">Add</button>
    {{/ifTwo}}
  </div>
</form>
<div>
  <h3>DEBUG1:</h3>
  {{DEBUG1}}
</div>

<div>
  <h3>DEBUG2</h3>
  {{DEBUG2}}
</div>