{{#if screenreader}}
  <form method="post">
    <button type="submit" name="option:screenreader" value="false">If you wanna see our selfmade combobox, click this button</button>
  </form>
{{else}}
  <form class="screenreader" method="post">
    <button type="submit" name="option:screenreader" value="true">If you have a screenreader, click this button.</button>
  </form>
{{/if}}

<div>
  <form class="left" method="post">
    <button type="submit" name="newNote" value="true">Create new note</button>
  </form>

  <div class="right">
    {{availableStyles styleName screenreader}}
    </label>
  </div>
</div>

<div>
  <div class="right">
    {{filterFinished filter screenreader}}
  </div>
</div>

<div>
  <h3>DEBUG:</h3>
  {{DEBUG}}
</div>