body {
    --bg-color: rgb(160,160,255);
    --text-color: rgb(0, 0, 60);

    --btn-border-color: rgb(60, 60, 200);
    --btn-bg-color: rgb(100,100,220);
    --btn-text-color-disabled: rgb(100, 100, 200);
    --btn-bg-color-disabled: rgb(40,40,180);
}