body {
    --bg-color: rgb(160,255,160);
    --text-color: rgb(0, 40, 0);

    --btn-border-color: rgb(60, 160, 60);
    --btn-bg-color: rgb(100,200,100);
    --btn-text-color-disabled: rgb(100, 180, 100);
    --btn-bg-color-disabled: rgb(40,140,40);
}