/* general styles *****************************************************/
html {
  font: 400 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--bg-color);
    color: var(--text-color);
}

h1 {
    color: var(--title-color);
    border-bottom: solid 2px var(--title-color);
}

#head-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.createBtn {
    grid-column: 1 / 3;
}

.styleBtn {
    grid-column: 1 / 3;
}

.filterBtn {
    grid-column: 1 / 3;
}

.showBtn {
    grid-column: 1 / 3;
}

@media (min-width: 400px) {
    html { font-size: 13px; }

    .createBtn {
        grid-column: 1 ;
    }

    .styleBtn {
        grid-column: 2;
        justify-self: end;
    }

    .filterBtn {
        grid-column: 1 / 3;
    }

    .showBtn {
        grid-column: 1 / 3;
    }


}

@media (min-width: 740px) {
    html { font-size: 15px; }
    .createBtn {
        grid-column: 1;
    }

    .styleBtn {
        grid-column: 2;
    }

    .filterBtn {
        grid-column: 1;
    }

    .showBtn {
        grid-column: 2;
        justify-self: end;
    }
}

/* layout in horizontal line (row) */
body > header > div,
body > main > div {
    display: block;
    clear: both;
    padding-top: 0.5rem;
    width: 100%
}

form {
    display: inline-block;
}

header, main {
    display: grid;
}

/* noteEntry *****/
.noNotes {
    text-align: center;
    color: var(--title-color);
    font-weight: bold;
    font-size: 2em;
}

.noteEntry .importance {
    text-align: right;
    white-space: nowrap;
}

.noteEntry .noteEntryDescription,
.noteEntry .noteEntryEdit form,
.noteEntry .noteEntryEdit form > button {
    width: 100%;
    height: 100%;
    min-width: 4rem;
    min-height: 2rem;
}

.noteEntry .noteEntryDescription {
    min-height: 6rem;
}
.noteEntry {
    display: grid;
}
.noteEntry > header,
.noteEntry > main {
    grid-gap: 0.2rem;
}

@media only screen and (min-width: 400px) {
    .noteEntry > header,
    .noteEntry > main {
        grid-template-columns: 8rem auto fit-content(2rem);
    }
    .noteEntry > header > .noteEntryTimeLeft,
    .noteEntry > main > .noteEntryFinished {
        grid-area: 1 / 1 / 1 / 1;
    }
    .noteEntry > header > .noteEntryTitle,
    .noteEntry > main > .noteEntryDescription {
        grid-area: 1 / 2 / 1 / 2;
    }
    .noteEntry > header > .importance,
    .noteEntry > main > .noteEntryEdit  {
        grid-area: 1 / 3 / 1 / 3;
    }
}






label {
    display: inline-block;
    margin-right: 0.2rem;
}

@media only screen and (max-width: 740px) {
    label {
        display: block;
    }
}

/* element only visible for screenreader */
.screenreader {
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}

/* not visible, but take up space */
.hidden {
    visibility: hidden;
}

/* button ***************************************************************/
input,
select,
button,
textarea {
    font: inherit;
    background-color: var(--btn-bg-color);
    border-color: var(--btn-border-color);
    min-height: 2rem;
    min-width: 6rem;
}

button[disabled],
textarea[disabled] {
    color: var(--btn-text-color-disabled);
    background-color: var(--btn-bg-color-disabled);
    font-weight: bold;
}

/* select *************************************************************/
select {
    background-color: var(--btn-bg-color);
    border-color: var(--btn-border-color);
    display: inline-block;
    position: relative;
    min-width: 7rem;
}

select[disabled] {
    color: var(--btn-text-color-disabled);
    background-color: var(--btn-bg-color-disabled);
}

@media only screen and (max-width: 400px) {
    select {
        display: block;
        width: 100%;
    }
}

/* checkbox ************************************************************/
input[type="checkbox"] {
    height: 1rem;
    width: 1rem;
    margin: 0;
}

/* comboBox ************************************************************/
div.comboBox {
    display: inline-block;
    position: relative;
    min-width: 8rem;
}

/* arrow for comboBox */
div.comboBox > button::after {
    content: '';

    border: solid var(--btn-border-color);
    border-width: 0 0.3rem 0.3rem 0;
    display: inline-block;
    padding: 0.2rem;

    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);

    position: absolute;
    top: calc(50% - 0.6rem);
    right: 1rem;
}

/* Flip arrow of comboBox */
div.comboBox .content:hover ~ button::after,
div.comboBox .content:active ~ button::after,
div.comboBox .content:focus ~ button::after,
div.comboBox:active button::after,
div.comboBox:focus button::after /*,
div.comboBox:focus-within button::after*/ {
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    top: calc(50% - 0.2rem);
}

/* content of comboBox */
div.comboBox .content {
    display: none;
    visibility: hidden;
    padding-top: 1.9rem;
    margin: 0.5rem 0.3rem 0.3rem;
    position: absolute;
    top: -0.5rem;
    left: -0.3rem;
    width: 100%;
    z-index: 10;

    -webkit-box-shadow: 0 0 0.1rem 0.1rem var(--btn-border-color);
    -moz-box-shadow: 0 0 0.1rem 0.1rem var(--btn-border-color);
    box-shadow: 0 0 0.1rem 0.1rem var(--btn-border-color);
}

/* keeps content of comboBox visible */
div.comboBox .content:hover,
div.comboBox:active .content/*,
div.comboBox:focus .content ,
div.comboBox:focus-within .content*/ {
    display: block;
    visibility: visible;
}

/* make items in comboBox in list */
div.comboBox .content form {
    display: block;
}

/* style item of comboBox */
div.comboBox button {
    width: 100%;
    text-align: left;
}

/* move disabled button over comboBox */
div.comboBox button[disabled] {
    position: absolute;
    top: 0;
}

/* orders **************************************************************/
.orders .content {
    display: inline-block;
}

.orders button {
    text-align: left;
    min-width: 7.5rem;
}

@media only screen and (max-width: 740px) {
    .orders,
    .orders .content,
    .orders form,
    .orders button {
        display: block;
        width: 100%;
    }
}

button[data-ordertype="Desc"]::before {
    content: '';
    float: right;
    margin-left: 0.2rem;
    border-style: solid;
    border-width: 0 0 1rem 1rem;
    border-color: transparent transparent var(--btn-border-color);
}

button[data-ordertype="Asc"]::before {
    content: '';
    float: right;
    margin-left: 0.2rem;
    border-style: solid;
    border-width: 1rem 0 0 1rem;
    border-color: transparent var(--btn-border-color);
}

/* noteEntry ***********************************************************/
.noteEntry {
    margin-top: 0.75rem;
    display: inline-block;
    border-top: var(--btn-border-color) solid 0.1rem;
}
.noteEntry > main,
.noteEntry > header {
    clear: both;
}

.noteEntryTitle {
    min-width: 12rem;
    word-wrap: break-word;
    font-weight: bold;
    margin: 0 0 0 0;
}

.noteEntryTimeLeft {
    min-width: 8rem;
}

.noteEntryFinished {
    min-width: 8rem;
    position: relative;
    padding-bottom: 0.2rem;
}

.noteEntryFinished:before {
    content: '';
    border: var(--btn-border-color) solid 0.1rem;
    display: inline-block;
    width: 1rem;
    height: 1rem;top: 0.2rem;
    margin-right: 0.2rem;
    position: relative;
}

.noteEntryFinished[data-finished]:after {
    content: 'X';
    top: 0.25rem;
    left: 0.25rem;
    color: var(--text-color);
    position: absolute;
}

.noteEntryDescription {
    width: calc(100% - 12.5rem);
    height: 5rem;
    box-sizing: border-box;
    border: var(--btn-border-color) solid 0.1rem;
    word-wrap: break-word;
    resize: vertical;
    margin: 0;
    padding: 0;
}

/* importance **********************************************************/
/* test
.importance {
    display: table;
    height: 2rem;
}

.importance .importanceSymbol {
    display: table-cell;
}*/

.importance {
}

span.importanceSymbol {
    display: inline-block;
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
}

.importanceSymbol:before {
    content: '';
    border-style: solid;
    border-width: 1rem 0.6rem 0 0;
    border-color: transparent var(--btn-border-color) transparent transparent;
    display: inline-block;
    position: relative;
    margin-bottom: 0.6rem;
    left: 0;
    margin-right: -0.1rem;
}

.importanceSymbol:after {
    content: '';
    border-style: solid;
    border-width: 1rem 0.6rem 0 0;
    border-color: var(--btn-border-color) transparent;
    display: inline-block;
    position: relative;
    margin-top: 0.4rem;
    right: 0;
    margin-left: -0.1rem;
}

/* new todo_styles *****************************************************/
.todoNew {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 16px;
}

.todoKey {
    grid-column: 1 / 3;
}

.todoValue{
    grid-column: 1 / 3;
}



label {
    font-weight: bold;
}

input:invalid {
    border: 2px solid red;
}

input:valid {
    border: 2px solid green;
}

@media (min-width: 400px) {
    html { font-size: 13px; }


    .todoKey {
        grid-column: 1 / 2;
        justify-self: end;
    }

    .todoValue{
        grid-column: 2 / 3;
    }


}
