/* general styles *****************************************************/
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* layout in horizontal line (row) */
body > div {
    display: block;
    clear: both;
    padding-top: 0.5em;
    width: 100%
}

form {
    display: inline-block;
}

@media screen and (max-width: 22em) {
    body > div > *:not(:last-child) {
        padding-bottom: 0.5em;
    }

    form,
    button,
    .comboBox {
        display: block;
        width: 100%;
    }
}

label {
    display: inline-block;
    margin-right: 0.2em;
}

@media screen and (max-width: 39em) {
    label {
        display: block;
    }
}

/* element only visible for screenreader */
.screenreader {
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}

/* float ***************************************************************/
.left {
    float: left;
}

.right {
    float: right;
}

@media screen and (max-width: 22em) {
    .left,
    .right {
        float: none;
    }
}
/* button ***************************************************************/
button {
    background-color: var(--btn-bg-color);
    border-color: var(--btn-border-color);
    min-height: 2em;
    min-width: 6em;
}

button[disabled] {
    color: var(--btn-text-color-disabled);
    background-color: var(--btn-bg-color-disabled);
    font-weight: bold;
}

/* select *************************************************************/
select {
    background-color: var(--btn-bg-color);
    border-color: var(--btn-border-color);
    display: inline-block;
    position: relative;
    min-width: 7em;
}

select[disabled] {
    color: var(--btn-text-color-disabled);
    background-color: var(--btn-bg-color-disabled);
}

@media screen and (max-width: 22em) {
    select {
        display: block;
        width: 100%;
    }
}

/* comboBox ************************************************************/
div.comboBox {
    display: inline-block;
    position: relative;
    min-width: 8em;
}

/* arrow for comboBox */
div.comboBox > button::after {
    content: '';

    border: solid var(--btn-border-color);
    border-width: 0 0.3em 0.3em 0;
    display: inline-block;
    padding: 0.2em;

    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);

    position: absolute;
    top: calc(50% - 0.6em);
    right: 1em;
}

/* Flip arrow of comboBox */
div.comboBox .content:hover ~ button::after,
div.comboBox .content:active ~ button::after,
div.comboBox .content:focus ~ button::after,
div.comboBox:active button::after,
div.comboBox:focus button::after /*,
div.comboBox:focus-within button::after*/ {
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    top: calc(50% - 0.2em);
}

/* content of comboBox */
div.comboBox .content {
    display: none;
    visibility: hidden;
    padding-top: 1.9em;
    margin: 0.5em 0.3em 0.3em;
    position: absolute;
    top: -0.5em;
    left: -0.3em;
    width: 100%;
    z-index: 10;

    -webkit-box-shadow: 0 0 0.1em 0.1em var(--btn-border-color);
    -moz-box-shadow: 0 0 0.1em 0.1em var(--btn-border-color);
    box-shadow: 0 0 0.1em 0.1em var(--btn-border-color);
}

/* keeps content of comboBox visible */
div.comboBox .content:hover,
div.comboBox:active .content,
div.comboBox:focus .content /*,
div.comboBox:focus-within .content*/ {
    display: block;
    visibility: visible;
}

/* make items in comboBox in list */
div.comboBox .content form {
    display: block;
}

/* style item of comboBox */
div.comboBox button {
    width: 100%;
    text-align: left;
}

/* orders **************************************************************/
.orders .content {
    display: inline-block;
}

.orders button {
    text-align: left;
    min-width: 7.5em;
}

@media screen and (max-width: 34em) {
    .orders,
    .orders .content,
    .orders form,
    .orders button {
        display: block;
        width: 100%;
    }
}

.orders button[data-ordertype="Desc"]::before {
    content: '';
    float: right;
    margin-left: 0.2em;
    border-style: solid;
    border-width: 0 0 1em 1em;
    border-color: transparent transparent var(--btn-border-color);
}

.orders button[data-ordertype="Asc"]::before {
    content: '';
    float: right;
    margin-left: 0.2em;
    border-style: solid;
    border-width: 1em 0 0 1em;
    border-color: transparent var(--btn-border-color);
}